USE [KhoaLuan]
GO
/****** Object:  Table [dbo].[BUOIHOC]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUOIHOC](
	[MABH] [nvarchar](20) NOT NULL,
	[MALOPMH] [nvarchar](10) NOT NULL,
	[NGAYHOC] [date] NOT NULL,
	[GIOBD] [nvarchar](15) NULL,
	[GIOKT] [nvarchar](15) NULL,
	[MAPH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDD]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDD](
	[MABH] [nvarchar](20) NOT NULL,
	[MASV] [nvarchar](10) NOT NULL,
	[HINHANHDD] [nvarchar](50) NULL,
	[GIOVAO] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](100) NULL,
	[TINHTRANG] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHITIETDD] PRIMARY KEY CLUSTERED 
(
	[MABH] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETLHP]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLHP](
	[MALOPMH] [nvarchar](10) NOT NULL,
	[MASV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETLHP] PRIMARY KEY CLUSTERED 
(
	[MALOPMH] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACN] [nvarchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NULL,
	[MAKHOA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nvarchar](10) NOT NULL,
	[TENGV] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nvarchar](20) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[TRINHDO] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[DIACHITT] [nvarchar](100) NULL,
	[DCTAMTRU] [nvarchar](100) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[MAKHOA] [nvarchar](10) NULL,
	[MAQUYEN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKI]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKI](
	[MAHK] [int] IDENTITY(1,1) NOT NULL,
	[TENHK] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nvarchar](10) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nvarchar](10) NOT NULL,
	[MAKHOA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPMONHOC]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPMONHOC](
	[MALOPMH] [nvarchar](10) NOT NULL,
	[MAMH] [nvarchar](10) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MAGV] [nvarchar](10) NULL,
	[SISO] [int] NULL,
	[MAHK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOPMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nvarchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[SOTC] [int] NULL,
	[TONGSOTIET] [int] NULL,
	[SOTIETLITHUYET] [int] NULL,
	[SOTIETTHUCHANH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NIENKHOA]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIENKHOA](
	[MANK] [nvarchar](10) NOT NULL,
	[TENNK] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGHOC]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGHOC](
	[MAPH] [nvarchar](10) NOT NULL,
	[SOCHO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[QUYEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](10) NOT NULL,
	[TENSV] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nvarchar](20) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHITT] [nvarchar](100) NULL,
	[DCTAMTRU] [nvarchar](100) NULL,
	[MALOP] [nvarchar](10) NULL,
	[HINHANH] [nvarchar](100) NULL,
	[MACN] [nvarchar](10) NULL,
	[MANK] [nvarchar](10) NULL,
	[MATKHAU] [nvarchar](100) NULL,
	[MAQUYEN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BUOIHOC] ([MABH], [MALOPMH], [NGAYHOC], [GIOBD], [GIOKT], [MAPH]) VALUES (N'Buoi_1_LHP001', N'LHP001', CAST(N'2023-01-11' AS Date), N'14', N'16', N'B103')
INSERT [dbo].[BUOIHOC] ([MABH], [MALOPMH], [NGAYHOC], [GIOBD], [GIOKT], [MAPH]) VALUES (N'Buoi_1_LHP0010', N'LHP0010', CAST(N'2023-01-11' AS Date), N'1', N'3', N'B103')
INSERT [dbo].[BUOIHOC] ([MABH], [MALOPMH], [NGAYHOC], [GIOBD], [GIOKT], [MAPH]) VALUES (N'Buoi_1_LHP002', N'LHP002', CAST(N'2022-11-19' AS Date), N'1', N'3', N'B101')
INSERT [dbo].[CHITIETDD] ([MABH], [MASV], [HINHANHDD], [GIOVAO], [GHICHU], [TINHTRANG]) VALUES (N'Buoi_1_LHP001', N'2001190110', NULL, NULL, N'', N'vắng')
INSERT [dbo].[CHITIETDD] ([MABH], [MASV], [HINHANHDD], [GIOVAO], [GHICHU], [TINHTRANG]) VALUES (N'Buoi_1_LHP001', N'2001190111', NULL, NULL, N'', N'vắng')
INSERT [dbo].[CHITIETDD] ([MABH], [MASV], [HINHANHDD], [GIOVAO], [GHICHU], [TINHTRANG]) VALUES (N'Buoi_1_LHP001', N'2001190116', N'Buoi_1_LHP001_2001190116.png', N'6:35 CH', N'quá trễ', N'có mặt')
INSERT [dbo].[CHITIETLHP] ([MALOPMH], [MASV]) VALUES (N'LHP001', N'2001190110')
INSERT [dbo].[CHITIETLHP] ([MALOPMH], [MASV]) VALUES (N'LHP001', N'2001190111')
INSERT [dbo].[CHITIETLHP] ([MALOPMH], [MASV]) VALUES (N'LHP001', N'2001190116')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'CNPM', N'Công nghệ phần mềm', N'CNTT')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'DGCLTP', N' Đánh giá chất lượng thực phẩm', N'CNTP')
INSERT [dbo].[CHUYENNGANH] ([MACN], [TENCN], [MAKHOA]) VALUES (N'HTTT', N'Hệ thống thông tin', N'CNTT')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [SDT], [NGAYSINH], [CMND], [DANTOC], [TRINHDO], [GIOITINH], [EMAIL], [MATKHAU], [DIACHITT], [DCTAMTRU], [HINHANH], [MAKHOA], [MAQUYEN]) VALUES (N'GV9990901', N'Nguyễn Anh Minh', N'349823489234', CAST(N'1994-09-22' AS Date), N'39849238423', N'Kinh', N'Thạc sĩ', N'Nữ', N'hoant@gmail.com', N'123', N'Hà Nội', N'TPHCM', N'GV9990901.png', N'CNTT', N'GV')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [SDT], [NGAYSINH], [CMND], [DANTOC], [TRINHDO], [GIOITINH], [EMAIL], [MATKHAU], [DIACHITT], [DCTAMTRU], [HINHANH], [MAKHOA], [MAQUYEN]) VALUES (N'GV9990902', N'Nguyễn Kim Sa', N'346356346346', CAST(N'1990-12-21' AS Date), N'435345353', N'Kinh', N'Thạc sĩ', N'Nữ', N'sant@gmail.com', N'123', N'Tây Ninh', N'TPHCM', N'GV9990902.png', N'CNTT', N'GV')
INSERT [dbo].[GIANGVIEN] ([MAGV], [TENGV], [SDT], [NGAYSINH], [CMND], [DANTOC], [TRINHDO], [GIOITINH], [EMAIL], [MATKHAU], [DIACHITT], [DCTAMTRU], [HINHANH], [MAKHOA], [MAQUYEN]) VALUES (N'GV9990903', N'Trần Lê Vi', N'5645645453', CAST(N'1994-10-01' AS Date), N'334754645', N'Hoa', N'Tiến sĩ', N'Nam', N'vinl@gmail.com', N'123', N'Hà Nam', N'TPHCM', N'GV9990903.png', N'CNTP', N'GV')
SET IDENTITY_INSERT [dbo].[HOCKI] ON 

INSERT [dbo].[HOCKI] ([MAHK], [TENHK]) VALUES (1, N'HK1 2021-2022')
INSERT [dbo].[HOCKI] ([MAHK], [TENHK]) VALUES (3, N'HK1 2022-2023')
INSERT [dbo].[HOCKI] ([MAHK], [TENHK]) VALUES (2, N'HK2 2021-2022')
SET IDENTITY_INSERT [dbo].[HOCKI] OFF
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTP', N'CÔNG NGHỆ THỰC PHẨM')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT', N'CÔNG NGHỆ THÔNG TIN')
INSERT [dbo].[LOP] ([MALOP], [MAKHOA]) VALUES (N'10DHTH1', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [MAKHOA]) VALUES (N'10DHTH2', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [MAKHOA]) VALUES (N'10DHTH3', N'CNTT')
INSERT [dbo].[LOPMONHOC] ([MALOPMH], [MAMH], [NGAYBD], [NGAYKT], [MAGV], [SISO], [MAHK]) VALUES (N'LHP001', N'MH01', CAST(N'2022-11-25' AS Date), CAST(N'2023-02-25' AS Date), N'GV9990901', 45, 1)
INSERT [dbo].[LOPMONHOC] ([MALOPMH], [MAMH], [NGAYBD], [NGAYKT], [MAGV], [SISO], [MAHK]) VALUES (N'LHP0010', N'MH01', CAST(N'2000-01-01' AS Date), CAST(N'2000-01-01' AS Date), N'GV9990902', 45, 3)
INSERT [dbo].[LOPMONHOC] ([MALOPMH], [MAMH], [NGAYBD], [NGAYKT], [MAGV], [SISO], [MAHK]) VALUES (N'LHP0011', N'MH01', CAST(N'2000-01-01' AS Date), CAST(N'2000-01-01' AS Date), N'GV9990902', 45, 3)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC], [TONGSOTIET], [SOTIETLITHUYET], [SOTIETTHUCHANH]) VALUES (N'MH01', N'Công nghệ Java', 3, 75, 15, 60)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC], [TONGSOTIET], [SOTIETLITHUYET], [SOTIETTHUCHANH]) VALUES (N'MH02', N'Công nghệ .NET', 2, 45, 15, 30)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTC], [TONGSOTIET], [SOTIETLITHUYET], [SOTIETTHUCHANH]) VALUES (N'MH03', N'Trí tuệ nhân tạo', 3, 75, 15, 60)
INSERT [dbo].[NIENKHOA] ([MANK], [TENNK]) VALUES (N'K10', N'2019-2023')
INSERT [dbo].[NIENKHOA] ([MANK], [TENNK]) VALUES (N'K11', N'2020-2024')
INSERT [dbo].[NIENKHOA] ([MANK], [TENNK]) VALUES (N'K12', N'2021-2025')
INSERT [dbo].[PHONGHOC] ([MAPH], [SOCHO]) VALUES (N'B101', 45)
INSERT [dbo].[PHONGHOC] ([MAPH], [SOCHO]) VALUES (N'B102', 45)
INSERT [dbo].[PHONGHOC] ([MAPH], [SOCHO]) VALUES (N'B103', 70)
INSERT [dbo].[QUYEN] ([MAQUYEN], [QUYEN]) VALUES (N'AD', N'ADMIN')
INSERT [dbo].[QUYEN] ([MAQUYEN], [QUYEN]) VALUES (N'GV', N'GIẢNG VIÊN')
INSERT [dbo].[QUYEN] ([MAQUYEN], [QUYEN]) VALUES (N'SV', N'SINH VIÊN')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SDT], [NGAYSINH], [CMND], [DANTOC], [GIOITINH], [EMAIL], [DIACHITT], [DCTAMTRU], [MALOP], [HINHANH], [MACN], [MANK], [MATKHAU], [MAQUYEN]) VALUES (N'2001180069', N'Nguyễn Công Minh', N'4354355434', CAST(N'1999-08-15' AS Date), N'342342342', N'Kinh', N'Nam', N'Minh@gmail.com', N'Hải Dương', N'TP HCM', N'10DHTH2', N'2001180069.png', N'CNPM', N'K10', N'123', N'SV')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SDT], [NGAYSINH], [CMND], [DANTOC], [GIOITINH], [EMAIL], [DIACHITT], [DCTAMTRU], [MALOP], [HINHANH], [MACN], [MANK], [MATKHAU], [MAQUYEN]) VALUES (N'2001180143', N'Trần Nhị Huynh', N'2347865967', CAST(N'1999-01-13' AS Date), N'58769864647', N'Kinh', N'Nam', N'Huynhnt@gmail.com', N'Lạng Sơn', N'TP HCM', N'10DHTH3', N'2001180143.png', N'CNPM', N'K11', N'123', N'SV')
INSERT [dbo].[SINHVIEN] ([MASV], [TENSV], [SDT], [NGAYSINH], [CMND], [DANTOC], [GIOITINH], [EMAIL], [DIACHITT], [DCTAMTRU], [MALOP], [HINHANH], [MACN], [MANK], [MATKHAU], [MAQUYEN]) VALUES (N'2001180221', N'Trịnh Xuân Phúc', N'25686745467', CAST(N'2002-01-12' AS Date), N'7666876867', N'Hoa', N'Nam', N'Phucxt@gmail.com', N'Hà Nam', N'TP HCM', N'10DHTP1', N'2001180221.png', N'DGCLTP', N'K10', N'123', N'SV')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HOCKI__A58E970BA2AE0FAF]    Script Date: 11/01/2023 10:13:11 CH ******/
ALTER TABLE [dbo].[HOCKI] ADD UNIQUE NONCLUSTERED 
(
	[TENHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOIHOC_LOPMONHOC] FOREIGN KEY([MALOPMH])
REFERENCES [dbo].[LOPMONHOC] ([MALOPMH])
GO
ALTER TABLE [dbo].[BUOIHOC] CHECK CONSTRAINT [FK_BUOIHOC_LOPMONHOC]
GO
ALTER TABLE [dbo].[BUOIHOC]  WITH CHECK ADD  CONSTRAINT [FK_BUOIHOC_PHONGHOC] FOREIGN KEY([MAPH])
REFERENCES [dbo].[PHONGHOC] ([MAPH])
GO
ALTER TABLE [dbo].[BUOIHOC] CHECK CONSTRAINT [FK_BUOIHOC_PHONGHOC]
GO
ALTER TABLE [dbo].[CHITIETDD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDD_BUOIHOC] FOREIGN KEY([MABH])
REFERENCES [dbo].[BUOIHOC] ([MABH])
GO
ALTER TABLE [dbo].[CHITIETDD] CHECK CONSTRAINT [FK_CHITIETDD_BUOIHOC]
GO
ALTER TABLE [dbo].[CHITIETDD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDD_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CHITIETDD] CHECK CONSTRAINT [FK_CHITIETDD_SINHVIEN]
GO
ALTER TABLE [dbo].[CHITIETLHP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLHP_LOPMONHOC] FOREIGN KEY([MALOPMH])
REFERENCES [dbo].[LOPMONHOC] ([MALOPMH])
GO
ALTER TABLE [dbo].[CHITIETLHP] CHECK CONSTRAINT [FK_CHITIETLHP_LOPMONHOC]
GO
ALTER TABLE [dbo].[CHITIETLHP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLHP_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[CHITIETLHP] CHECK CONSTRAINT [FK_CHITIETLHP_SINHVIEN]
GO
ALTER TABLE [dbo].[CHUYENNGANH]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENNGANH_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[CHUYENNGANH] CHECK CONSTRAINT [FK_CHUYENNGANH_KHOA]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_QUYEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_HOCKI] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKI] ([MAHK])
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_HOCKI]
GO
ALTER TABLE [dbo].[LOPMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPMONHOC_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[LOPMONHOC] CHECK CONSTRAINT [FK_LOPMONHOC_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_CHUYENNGANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHUYENNGANH] ([MACN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NIENKHOA] FOREIGN KEY([MANK])
REFERENCES [dbo].[NIENKHOA] ([MANK])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NIENKHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_QUYEN]
GO
/****** Object:  StoredProcedure [dbo].[GIANGVIEN_ID]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GIANGVIEN_ID]
as
begin
	declare @ma_next nvarchar(10)
	declare @max int
	select @max=count(MAGV) +1 From GIANGVIEN WHERE MAGV LIKE 'GV99909'
	set @ma_next='GV99909'+RIGHT('0'+CAST(@max as nvarchar),8)
	--kiểm tra mã tồn tại hay chưa
	while(exists(Select MAGV FROM GIANGVIEN  WHERE MAGV=@ma_next))
	begin
		set @max=@max+1;
		set @ma_next='GV99909'+RIGHT('0'+CAST(@max as nvarchar),8)
	end
	select @ma_next
end
GO
/****** Object:  StoredProcedure [dbo].[LOPHP_ID]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LOPHP_ID]
as
begin
	declare @ma_next nvarchar(10)
	declare @max int
	select @max=count(MALOPMH) +1 From LOPMONHOC WHERE MALOPMH LIKE 'LHP0'
	set @ma_next='LHP0'+RIGHT('0'+CAST(@max as nvarchar),8)
	--kiểm tra mã tồn tại hay chưa
	while(exists(Select MALOPMH FROM LOPMONHOC  WHERE MALOPMH=@ma_next))
	begin
		set @max=@max+1;
		set @ma_next='LHP0'+RIGHT('0'+CAST(@max as nvarchar),8)
	end
	select @ma_next
end
GO
/****** Object:  StoredProcedure [dbo].[MONHOC_ID]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MONHOC_ID]
as
begin
	declare @ma_next nvarchar(10)
	declare @max int
	select @max=count(MAMH) +1 From MONHOC WHERE MAMH LIKE 'MH'
	set @ma_next='MH'+RIGHT('0'+CAST(@max as nvarchar),8)
	--kiểm tra mã tồn tại hay chưa
	while(exists(Select MAMH FROM MONHOC  WHERE MAMH=@ma_next))
	begin
		set @max=@max+1;
		set @ma_next='MH'+RIGHT('0'+CAST(@max as nvarchar),8)
	end
	select @ma_next
end
GO
/****** Object:  StoredProcedure [dbo].[SINHVIEN_ID]    Script Date: 11/01/2023 10:13:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SINHVIEN_ID]
as
begin
	declare @ma_next nvarchar(10)
	declare @max int
	select @max=count(MASV) +1 From SINHVIEN WHERE MASV LIKE '200119011'
	set @ma_next='200119011'+RIGHT(CAST(@max as nvarchar),8)
	--kiểm tra mã tồn tại hay chưa
	while(exists(Select MASV FROM SINHVIEN  WHERE MASV=@ma_next))
	begin
		set @max=@max+1;
		set @ma_next='200119011'+RIGHT(CAST(@max as nvarchar),8)
	end
	select @ma_next
end
GO
